@{
  Layout = "_Layout";
}

<div class="container">
  <p class="result">The word <var>@Model.GetWord()</var>
    occurs <var>@Model.HowManyMatches()</var> times
    in the phrase <var>@Model.GetString()</var></p>
  <form action="/" method="Get">
    <button type="submit" class="btn btn-primary btn-lg">Home</button>
  </form>
</div>
