@{
  Layout = "_Layout";
}

<div class="container">
  <p class="description">Welcome to Word Counter, a useful application to find how many times a word appears in a sentence or paragraph.</p>
  <form action="/WordCounter/CreateString" method="Get">
    <button type="submit" class="btn btn-primary btn-lg btn-block">Get Started</button>
  </form>
</div>
