@{
  Layout = "_Layout";
}

<div class="container">
  <h1 class="jumbotron">Word Counter</h1>
  <p>Welcome to Word Counter, a useful application to find how many times a word appears in a sentence or paragraph.</p>
  <form action="/WordCounter/CreateString" method="Get">
    <button type="submit" class="btn btn-primary">Get Started</button>
  </form>
</div>
