body {
  background-image: linear-gradient(to bottom right, #8e9eab, #ebf0f3);
  font-family: Verdana;
  font-size: 24px;
  height: 100vh;
}

.header {
  width: 100%;
  text-align: center;
  font-family: Bookman;
  font-size: 80px;
  font-weight: bold;
  color: white;
  text-shadow: 3px 3px 10px black;
  padding: 30px;
}

.header-background {
  background-image: url('../img/WordCounter.jpeg');
  height: 180px;
  width: 100%;
  border: 5px solid black;
  margin-bottom: 50px;
}

.highlight {
  font weight: bold;
  font-style: italic;
  font-size: 32px;
}

.bg-warning {
  padding: 20px;
}
